#version: "3.8"

services:
  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_DB: oma_chan_data
      POSTGRES_USER: root
      POSTGRES_PASSWORD: qqee22rr43
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped

  debian_test:
    image: omachan-image
    build: .
    ports:
      - "3000:3000"
    container_name: "OmaChanApi"
    restart: unless-stopped

volumes:
  postgres_data:
